<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Arizonia|Bad+Script" rel="stylesheet">
    <link rel="stylesheet" href="">
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="">
    <style>
        .reports {margin-top: 15px;}
        .reports .alert {opacity: 0;}
        .reports .alert.visible {opacity: 1;}
        .quote-form, .quote-form button {margin-top: 15px;}
        .quotes .quote-col {margin-bottom: 30px;}
        .quotes .card {font-family: 'Arizonia', 'Bad Script', cursive; height: 100%; cursor: pointer;}
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
</head>
<body>

    <script type="text/x-template" id="reports">
        <div class="row reports">
            <div class="col">
                <div class="alert" v-bind:class="{ 'report': report, 'visible': visible, 'alert-success': alertSuccess, 'alert-danger': alertDanger }" role="alert">
                    <span v-if="alertSuccess">Quote added!</span>
                    <span v-if="alertDanger">Sorry, quotes limit: {{ max }}</span>
                    &nbsp;
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="quotes-counter">

        <div class="row quotes-counter">

            <div class="col">
                <h2>Quotes added</h2>
                <div class="progress">
                    <div class="progress-bar" role="progressbar"
                         aria-valuemin="0"
                         :aria-valuemax="{max}"
                         :aria-valuenow="{total}"
                         :style="{ width: (total / max * 100) + '%' }"
                    >
                        {{ total }}/{{ max }}
                    </div>
                </div>
            </div>

        </div>

    </script>

    <script type="text/x-template" id="quote-form">

        <div class="row justify-content-center quote-form">

            <div class="col-12 col-lg-6">
                <form>
                    <div class="form-group">
                        <label for="newQuote">Quote</label>
                        <textarea class="form-control" id="newQuote" rows="5" v-model="newQuote"></textarea>
                        <button type="button" class="btn btn-primary" @click="addQuote">Add quote</button>
                    </div>
                </form>
            </div>

        </div>

    </script>

    <script type="text/x-template" id="quotes-list">

        <div class="row quotes">

            <div class="col-12 col-md-6 col-lg-3 quote-col" v-for="(quote, index) in quotes">
                <div class="card" @click="removeQuote(index)">
                    <div class="card-body">
                        <p class="card-text">{{ quote }}</p>
                    </div>
                </div>
            </div>

        </div>

    </script>

    <div id="app" class="container">

        <reports :max="maxQuotes"></reports>

        <quotes-counter :total="totalQuotes" :max="maxQuotes"></quotes-counter>

        <quote-form :total="totalQuotes" :max="maxQuotes" :quotes="quotes"></quote-form>

        <quotes-list :quotes="quotes"></quotes-list>

    </div>

</body>
</html>